.header {
  display: flex;
  justify-content: space-between;
  padding: 2em 10%;
  border-bottom: 1px solid var(--header-color);
}

.logo {
  margin-right: .5em;
  vertical-align: middle;
}

.nav {
  display: inherit;
  gap: 2em;
}

.menu_button {
  display: none;
}

.nav, .menu_button {
  margin-left: auto;
  margin-right: 2em;
}

.nav .link {
  border-bottom: 1px solid transparent;
  transition: border-color .5s ease-in-out;
}

.nav .link, .join_discord_btn{
  opacity: .85;
}

.join_discord_btn {
  background-color: #5865f2;
  color: white;
  padding: .9em 1.8em;
  border-radius: 10px;
  transition: opacity .5s;
}

.discord_logo {
  margin-right: 1rem;
  font-size: larger;
}

.nav .link:hover {
  border-color: var(--header-color);
}

.nav .link:hover, .join_discord_btn:hover {
  opacity: 1;
}

@media (max-width: 1300px) {
  .header {
    padding: 2em 5%;
  }
}

@media (max-width: 1140px) {
  .menu_button{
    display: inherit;
    font-size: x-large;
    background-color: lightslategrey;
    padding: .5em;
    margin-top: -.5em;
    border-radius: 5px;
    align-items: center;
  }

  .nav {
    flex-direction: column;
    position: absolute;
    margin-top: 3.9em;
    margin-right: 0;
    padding: 2em 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0px 15px 30px -15px rgba(0, 0, 0, 1);
  }

  .nav .link {
    width: fit-content;
    margin: 0 auto;
  }
}

@media (max-width: 800px) {
  .menu_button, .join_discord_btn, .discord_logo {
    font-size: large;
  }

  .discord_logo {
    margin: 0;
  }

  .join_discord_text {
    display: none;
  }

  .join_discord_btn {
    padding: .6em;
  }
}

@media (max-width: 500px) {
  .menu_button {
    margin-right: 1em;
  }
}
